body {
    margin: 0;
    padding: 0;
}

video { 
    width: 0px; 
    margin: 0px; 
}

#SignTab:after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url('../static_assets/bg.gif');
    background-size: 100% 150%;
    background-repeat: no-repeat;
    opacity: 0.3;
    z-index: -1;
    filter: grayscale(90%);
}


#SignTab {
    /* background-image: url('../static_assets/bg.gif'); */
    /* opacity: 0.4; */
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    padding: 15% 100px;
    text-align: center;
    /* background: #ddd; */
}


.label {
    display: inline-block;
    width: 130px;
    /* text-align: right; */
    /* padding-right: 20px; */
    font-size: 20px;
    color: #9c712f;
}

#SignTab > div {
    width: 100%;
    /* height: 50px; */
    margin-bottom: 10px;
}

.hide {
    display: none;
}

#SignTab .id-area {
    display:inline-block;
    width: 200px;
    height: 40px;
    border-radius: 15px;
    border: 2px solid #9c712f; 
    padding: 7px 16px;
    resize: none;
    font-size: 18px;
    /* letter-spacing: 2px; */
    text-align: center
}

#confirm {
    width: 200px;
    height: 40px;
    background:-moz-linear-gradient(left, #9c712f, #caa46b);  
    /* background-color: #9c712f; */
    border: 0;
    border-radius: 15px;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
}